{% load i18n %}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a
            class="nav-link {% if selected_inspector_page == 'events' %}active{% endif %}"
            href="{% url 'afat:inspector_event' %}"
        >
            {% translate "Event inspector" %}
        </a>
    </li>

    <li class="nav-item">
        <a
            class="nav-link {% if selected_inspector_page == 'correlation' %}active{% endif %}"
            href="{% url 'afat:inspector_correlation' %}"
        >
            {% translate "Event correlation" %}
        </a>
    </li>
</ul>
